@import url("https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato|Open+Sans:400,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

body{
    margin: 1.25rem auto;
    padding: .1rem;
    max-width: 600px;
    font-family: 'Lato', sans-serif;;
    font-size: 16px;
    color: black;
}

header, footer{
    background-color: orangered;
    color: rgb(249, 252, 251);
    text-align: center;
    border-radius: 10px;
}

footer a {
    color: rgb(20, 16, 223);
    font-size: large;
}

h1 {
    font-size: 35px;
    padding: .5em;
}

header img{
    width: 180px;
    height: auto;
    float: right;
    margin: 10px;
    border-radius: 10px;
}

footer {
    margin: 0;
    padding: 8px;
}