body{
    margin: 1.25rem auto;
    padding: .1rem;
    max-width: 600px;
    font-family: monospace;
}

#title, footer {
    background-color: orangered;
    color: white;
    text-align: center;
    border-radius: 10px;
}

h1 {
    font-size: 3em;
}

header img{
    width: 150px;
    float: right;
    margin: 10px;
    box-shadow: .3px .3pc 10px orangered;
}