body{
    margin: 1.25rem auto;
    padding: .1rem;
    max-width: 600px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: black;
}

header, footer{
    background-color: rgb(50, 25, 192);
    color: rgb(249, 252, 251);
    text-align: center;
    font-weight: 700;
}

footer a {
    color: rgb(248, 248, 252);
    font-size: large;
    font-weight: 400;
}

footer a:visited{
    color: crimson;
}

h1 {
    font-size: 1.5rem;
    padding: .5em;
}

h2 {
    font-size: 1rem;
    color: rgb(39, 41, 43);
    text-shadow: 2px 2px 5px #000;
}

main ul li{
    margin: 5px;
}

header img{
    width: 180px;
    height: auto;
}

footer {
    margin: 0;
    padding: 8px;
}