/* 64em is also 1028px (if basefont is 16px) */
@media only screen and (min-width: 65em) {

    header,
    nav,
    main,
    footer {
        max-width: 1024px;
        margin: 0 auto;
    }

    /*----------- BODY --------------*/



    /*----------- HEADER --------------*/



    /*----------- NAVIGATION --------------*/



    /*----------- MAIN --------------*/

    div.grid-gallery {
        grid-template-columns: 1fr 1fr 1fr;
    }

    div.grid-gallery picture {
        width: 80%;
        background-color: whitesmoke;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        margin-bottom: 25px;
    }

    div.container {
        display: block;
        text-align: center;
        padding: 10px 20px;
    }

    /* FORM */

    form label.sbs {
        padding: .3rem 0;
    }

    /* -------cards------ */

    main div.cards section div {
        width: 100%;
    }

    /*  */
    main div.cards {
        flex-wrap: nowrap;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 10px;
        margin-left: 1%;
    }

    main div.cards section {
        display: grid;
        grid-template-columns: 1fr;
    }

    main div.cards div img {
        width: 100%;
        border-radius: 15px;
    }

    main div.cards div h4 {
        font-size: 13px;
        margin: 5% 0 5% 0;
    }

    /*----------- FOOTER --------------*/

    /* -----------hero image ------------ */

    div.hero-image {
        margin: 2%;
        height: 500px;
    }


}

/* end of media query */