
table{
    background-color: bisque;
    font-family: Montserrat, arial, sans-serif;
    border-collapse: collapse;
    width:65%;
    margin: auto;
    box-shadow: 5px 10px 8px #888888;
}


table thead tr#title{
    background-color: #7FB9C2;
    font-size: 2em;
    
}


table thead tr#subtitle{
    background-color: #628CA6;
    font-size: 1.2em;
    color: white;
}

table tbody tr:nth-child(odd){
    background-color: #E7F0ED;
}


table tbody tr:nth-child(even){
    background-color: #E7FFED;
}

tfoot{
    background-color: #7FB9C2;
}

th, td{
    padding: 5px;
    text-align: center;
}

td#main{
    background-color: #7FB9C2;
    color: white;
    font-weight: 600;
}