/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/*----------- apply a natural box layout model to all elements --------------*/
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


/*----------- BODY --------------*/
body {
    font-size: 16px;
    font-family: 'Montserrat', Verdana, sans-serif;
    font-weight: 300;
}


/*----------- HEADER --------------*/

div#headerWrapper {
    background-color: #264653;
}

header {
    padding: .5rem 2%;
    background-color: #264653;
    color: #e76f51;
    font-family: 'Montserrat', sans-serif1;
}

header img {
    float: left;
    margin-right: 10px;
    width: 50px;
    height: auto;
}

header h1 {
    margin: 0;
    /* font-size: 1.3rem; */
}

header h2 {
    margin: 0;
    font-weight: normal;
    /* font-size: 1rem; */
}

/*----------- NAVIGATION --------------*/

div.navWrapper {
    background-color: #2A9D8F;
}

nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: #555;
}


nav {
    font-family: 'Montserrat', sans-serif1;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    color: whitesmoke;
    padding: .8rem 2%;
    text-decoration: none;
    font-weight: 600;
    font-size: .9rem;
    text-align: center;
    border-top: 1px solid rgba(0, 0, 0, .3);
}

nav ul li a:hover {
    background-color: #E9C46A;
    color: #333;
}

nav ul li.active a {
    background-color: #000;
    color: #fff;
}

nav ul.hide {
    display: none;
}

/*----------- MAIN --------------*/
main {
    padding: 0 2%;
    min-height: 10rem;
}

h1 {
    margin: 2% 0 2% 0;
}

div.hero-image {
    margin: 10px;
    position: relative;
    border: 1px dashed cyan;
    background-color: rgb(165, 233, 148);
    width: auto;
    height: 25%;
}

div.hero-text {
    border: 1px solid #333333;
    position: relative;
    width: 100%;
    height: 250px;
}

div.forecast {
    background-color: rgb(159, 231, 159);
}

.weathersummary {
    position: absolute;
    top: 10px;
    left: 25%;
}

div.article {
    background-color: rgb(159, 231, 159);
}

div.contact {
    background-color: rgb(159, 231, 159);
}

/*----------- FOOTER --------------*/
div.footer {
    background-color: #264653;
    margin-top: 5%;
}

footer {
    margin-top: 5%;
    padding: .5rem 2%;
    text-align: center;
    color: antiquewhite;
}

/* ---------- Links -------------- */

footer a {
    color: whitesmoke;
}

footer a:visited {
    color: #e76f51;
}

footer a:hover {
    color: #E9C46A;
}



/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}