html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/*----------- apply a natural box layout model to all elements --------------*/
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


/*----------- BODY --------------*/
body {
    background-color: rgb(201, 201, 201);
    font-size: 16px;
    font-family: 'Montserrat', Verdana, sans-serif;
    font-weight: 300;
}

h1{
    font-size: 1.5rem;
    text-align: center;
}

body div.cards section{
    border: 1px black solid;
    background-color: gray;
    margin: 10px;
}

body div.cards section h2 {
    color: blue;
    text-align: center;
    margin: 10px 0 0 0;

}

body div.cards section p{
    color: black;
    font-weight: 600;
    text-align: center;
    font-size: .75rem;
    margin: 0 0 2px 0;
}

body div.cards section img{
    width: 50%;
    margin: auto;
    display: block;
    padding-bottom: 10px;   
}

@media only screen and (min-width: 650px) {


body div.cards section{
    margin: 5px;
}


body div.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

}

@media only screen and (min-width: 1200px) {


    body div.cards section{
        margin: 5px;
    }
    
    
    body div.cards{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    
    }