/* 64em is also 1028px (if basefont is 16px) */
@media only screen and (min-width: 65em) {

    header, nav, main, footer {
        max-width: 1024px;
        margin:0 auto;
    }

/*----------- BODY --------------*/



/*----------- HEADER --------------*/



/*----------- NAVIGATION --------------*/



/*----------- MAIN --------------*/

 div.grid-gallery{
         grid-template-columns: 1fr 1fr 1fr;
    }

    div.container{
        display: block;
        text-align: center;
    }



/*----------- FOOTER --------------*/

/* -----------hero image ------------ */

div.hero-image{
    margin: 2%;
    height: 500px;
}

    
} /* end of media query */